.sideBar[b-6cuyd145ax] {
    width: 13dvw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(13, 51, 59) 40%,rgb(114, 161, 159) 100%);
    padding: 1.5rem 0rem;
    align-items: center;
    box-sizing: border-box;
}

.sidebarNav[b-6cuyd145ax] {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    align-items: center;
}

.sidebar-logo[b-6cuyd145ax] {
    border: 1px solid rgb(194, 194, 236);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:fit-content;
    margin-bottom: 2rem;
    width: 125px;
    height: 125px;
    background-color: white;
}

.sidebar-logo img[b-6cuyd145ax] {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

[b-6cuyd145ax] .dailyButton {
    border-top: 0.5px solid #fef9f8;
    border-bottom: 0.5px solid #fef9f8;
    background: linear-gradient(-35deg, rgb(207, 167, 160) 0%,rgb(20, 83, 94) 90%);
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    padding: 10px;
}

[b-6cuyd145ax] .sidebarButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    width: 85px;
    height: 85px;
    margin-top: 0em;
}
    
    [b-6cuyd145ax] .iconCircle{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content:center;
        transition: .55s;
    }
    [b-6cuyd145ax] .iconCircle i{
        font-size:1.5rem;
        color: #FFEFEC;
        transition:.55s;
    }

    [b-6cuyd145ax] .sidebarButton span{
        font-size: 0.9rem;
        font-weight:500;
        color:#FFEFEC;
        transition:.25s;
    }

    [b-6cuyd145ax] .sidebarButton:hover .iconCircle{
        background:white;
    }

    [b-6cuyd145ax] .sidebarButton:hover .iconCircle i{
        color:#446763;
    }

    [b-6cuyd145ax] .sidebarButton.active .iconCircle{
        background:white;
    }

    [b-6cuyd145ax] .sidebarButton.active .iconCircle i{
        color:#446763;
    }

    [b-6cuyd145ax] .sidebarButton.active span{
        font-weight:600;
    }
